<div class="col-md-12">
  <div class="col-md-6">
    <%=link_to "Create a New Project Service",new_project_path%> 
  </div>
  <div class="col-md-6">
    <%if flash[:success]%>
     <div class="alert alert-success"> 
      <%=flash[:success]%>
    </div>
   <%end%> 
  </div>  
</div>  
<%if @projects.present?%>
<table class="table">
    <thead>
      <tr>
        <th>Service_name</th>
        <th>Website</th>
        <th>Time Interval</th>
        <th>View Details</th>
        <th>Edit</th>
        <th>Destroy</th>
      </tr>
    </thead>
    <tbody>
      <%@projects.each do |s|%>
          <tr>
            <td><%=s.service_name%></td>
            <td><%=s.website%></td>
            <td><%=s.time_interval%></td>
            <td><%=link_to "View Details", project_path(s.id)%></td>
            <td><%=link_to "Edit", edit_project_path(s.id)%></td>
            <td><%=link_to "Delete", project_path(s.id), :method=>'delete', data: { confirm: 'Are you sure?' }%></td>
          <tr>
        <%end%>
    </tbody>
  </table>
  <%elsif%>
    <table class="table">
    <thead>
      <tr>
        <th>Service_name</th>
        <th>Website</th>
        <th>Time Interval</th>
        <th>View Details</th>
        <th>Edit</th>
        <th>Destroy</th>
      </tr>
    </thead>
    <tbody>
          <tr>
            <td><%=@project.service_name%></td>
            <td><%=@project.website%></td>
            <td><%=@project.time_interval%></td>
            <td><%=link_to "View Details", project_path(@project.id)%></td>
            <td><%=link_to "Edit", edit_project_path(@project.id)%></td>
            <td><%=link_to "Delete", project_path(@project.id), :method=>'delete', data: { confirm: 'Are you sure?' }%></td>
          <tr>
    </tbody>
  </table>
  <%else%>
  <h2 class="text-center"> No projects has been assigned to you </h2>
  <%end%>
